

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

svg {
  display: block;
  vertical-align: middle;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

h2,
p {
  color: white;
}

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-column {
  flex: 1; /* One third of the screen width */
  display: flex;
  flex-direction: column;
  background-color: #1F213A;
  padding: 16px;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-row input {
  flex: 1; /* Input takes available space */
  padding: 6px;
  border-radius: 2px;
  border: 1px solid lightgray;
}

.search-button-container {
  padding: 4px;
  background-color: white;
  border-radius: 50%;
}

.todays-weather-container {
  flex: 1;
  margin-top: 16px;
  background-color: aliceblue;
}

.right-column {
  flex: 2;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #110E1D;
  padding: 16px
}

.overview-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-buttons-row {
  display: flex;
  gap: 24px;
}

.unit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #585676;
  border-radius: 50%;
}

.overview-row-1,
.overview-row-2,
.five-day-row {
  display: flex;
  gap: 12px
}

.overview-row-1 .box,
.overview-row-2 .box,
.five-day-row .box {
  flex: 1;
  padding: 20px;
  background-color: #1F213A;
  color: white;
  text-align: center;
}

h2 {
  margin: 10px;
}
