:root {
  --colorLight: #ffffff;
  --colorLightSecondary: rgba(255, 255, 255, 0.75);
  --colorDark: #110E1D;
  --colorDarkSecondary: #1F213A;
  --colorDarkTertiary: #585676;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SohneLeicht';
  src: url('/fonts/Sohne-Leicht.otf') format('opentype');
}

html, body {
  height: 100%;
  font-family: 'SohneLeicht', sans-serif; /* Fallback to a generic font */
}

svg {
  display: block;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

h3,
h2,
h1 {
  color: var(--colorLight);
}

h1 {
  font-weight: 600;
  font-size: clamp(32pt, 6cqi, 48pt);
}

h2 {
  font-weight: 500;
  font-size: clamp(24pt, 4cqi, 32pt);
}

h3 {
  font-size: clamp(14pt, 4cqi, 18pt);
  font-weight: lighter;
}

h4 {
  font-size: clamp(11pt, 2cqi, 12pt);
  color: var(--colorLightSecondary);
  font-weight: 100;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  border: 0px;
  background-color: var(--colorLight)
}

.flex {
  flex: 1;
}

.full-height-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.light-text {
  color: var(--colorLight);
}

input:focus {
  border-color: 3px solid var(--colorDarkTertiary);
  outline: 3px solid var(--colorDarkTertiary);
}

.container {
  display: flex;
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 85%;
}

.clickable:active {
  opacity: 70%;
}

.activity-indicator {
  border: 4px solid var(--colorLight);
  border-top: 4px solid var(--colorDarkTertiary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.switch-button-enabled {
  background-color: var(--colorLight);
  color: #110E1D;
}

.switch-button-disabled {
  background-color: var(--colorDarkTertiary);
  color: var(--colorLight)
}

.overview-row-1,
.overview-row-2,
.five-day-row {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
}

.overview-row-1 .box,
.overview-row-2 .box,
.five-day-row .box {
  flex: 1;
  padding: 20px;
  background-color: var(--colorDarkSecondary);
  color: var(--colorLight);
  text-align: center;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 948px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 548px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .overview-row-1,
  .overview-row-2 {
    flex-direction: column;
  }
}